@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vh;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-style: bold;
}

span {
    font-size: 1.5rem;
    font-style: normal;
    color: #5993E5;
}

.middle-content {
    padding: 1rem;
    border: black solid 2px;
    border-radius: 30px;
    margin: 2rem;
    color: white;
    background-image: url('https://ak.picdn.net/shutterstock/videos/24223834/thumb/1.jpg');
}

.clickMe {
    padding: 0.7rem;
    letter-spacing: 2px;
    font-weight: bold;
    border: black solid 2px;
}

.clickMe:focus {
    outline:none;
}

.clickMe:hover {
    cursor: pointer;
}